# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!environments/**/*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db